.avatar-container{
    position: fixed; 
    right: 24px; 
    bottom: 24px;
    z-index: 999;
}
.avatar{
    cursor: pointer;
    box-Shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.33);
    border-Radius: 50%;
    width: 84px;
    height: 84px;
    transition: 0.4s all ease;
}

.avatar-p{
    position: absolute;
    left:calc(-100% - 35px );
    top: calc(50% - 24px);
    font-weight: 500;
    color: var( --light-text-color);
    z-index: 1000;
    box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, 0.33);
    padding: 10px 10px 10px 14px;
    border-radius: 24px;
    background-color: #f9f0ff;
    color: black;
    transition: 0.4s all ease;
}


@media screen and (max-width:480px) {
    .avatar-container{
        right: 15px;
        bottom: 100px;
    }
    .avatar{
        height: 70px;
        width: 70px;
         }
       
    }