
.chat-window{
    position: fixed;
    bottom: 125px;
    right: 24px;
    width: 300px;
    height: 400px;
    max-width: calc(100% - 48px);
    max-height: calc(100% - 48px);
    background-color:white;
    border-radius: 12px;
    border: 2px solid var(--blue-sharp-color);
    overflow: hidden;
    box-Shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.33);
    transition: 0.5s all ease;
    z-index: 999;
}


@media screen and (max-width:480px) {
    .chat-window{
        width: 250px;
        height: 300px;
      
    }
   
       
    }