nav{
    width: max-content;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    border: 1px #34495e solid;
}
nav a{
    background: transparent;
    padding: 0.7rem;
    border-radius: 50%;
    display: flex;
    font-size: 1.1rem;
    color: #fff;

}
nav a:hover{
    background: var(--blue-sharp-color);
    transition: .2s  ease-out;

}

nav a.active{
    background: rgba(154, 138, 138, 0.3);
}